<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="{{ url_for('home_blueprint.index') }}" class="b-brand text-primary">
        <img src="{{ url_for('static', filename='assets/images/logo-white.svg') }}" class="img-fluid" alt="logo">
      </a>
    </div>
    <div class="navbar-content">

      <ul class="pc-navbar">

        <li class="pc-item pc-caption">
          <label>Functions</label>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.index') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="home"></i></span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.demographic_assessment') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="check-circle"></i></span>
            <span class="pc-mtext">Assessment</span>
          </a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.main') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="bar-chart"></i></span>
            <span class="pc-mtext">Skin Facts</span>
          </a>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.take_media') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="bar-chart"></i></span>
            <span class="pc-mtext">Cancer Detector</span>
          </a>
        </li>

      </ul>

      <div class="card pc-user-card my-3 bg-white bg-opacity-10">
        <div class="card-body text-center">
          <a href="https://app-generator.dev/product/datta-able/flask/" class="btn btn-success">
            <span class="pc-micon"><i data-feather="download"></i></span>
            Download
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>
